{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
<section class="mt-4 mb-5">

{% embed "explore.html.twig" %}{% endembed %}

<div class="container-fluid">
  <div class="row">

    <div class="card-columns">
      {% for image in images %}
      <div class="card card-pin">
        <img class="card-img" src="{{image.getImageUrl}}" alt="image">
        <div class="overlay">
          <h2 class="card-title title"> {{image.name}} </h2>
          <div class="more">
            <a href="{{ path('single_image',{id:image.id}) }}">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Voir plus </a>


          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
  {{ knp_pagination_render(images) }}
</div>
</section>
{% endblock %}
