<div class="container mb-4">
  <h1 class="font-weight-bold title">Explorez</h1>
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExplore">
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{{path('category',{code:'LIF'})}}">Lifestyle</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{path('category',{code:'FOO'})}}">Food</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{path('category',{code:'MAI'})}}">Maison</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{path('category',{code:'VOY'})}}">Voyage</a>
        </li>

      </ul>
    </div>
    </nav>
  </div>
</div>
